<form action="{{ action }}" method="get">
  <input type="hidden" name="key" value="{{ key }}">
  <input type="hidden" name="order" value="{{ order }}">
  <input type="hidden" name="pay" value="{{ pay }}">
  <input type="hidden" name="volume" value="{{ volume }}">
  <input type="hidden" name="ref" value="{{ ref }}">
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>
